.container {
  padding: 32px;
  background: #fff;
  border-radius: 20px;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.display-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-centered-container {
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.header {
  height: fit-content;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

a {
  all: unset;
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:active {
  outline: none;
  box-shadow: none;
}

a:hover {
  background: none;
}

input {
  outline: none;
  border: none;
}

input[type="submit"] {
  outline: none !important;
  border: none;
  background: transparent;
}

input[type="submit"]:hover {
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 10px;
}
