html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 1em;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-weight: 400;

  --text: #705029;
  --background: #a67a59;
  --primary: #f5e0a3;
  --secondary: #d3b078;
  --accent: #c85b51;
}

h1, h2{
  font-family: 'Dancing Script';
  font-weight: 700;
}

h3, h4, h5{
  font-family: 'Poppins';
  font-weight: 400;
} 

html {font-size: 100%;} /* 16px */

h1 {font-size: 5.652rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */}

h5 {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}

.main-content{
  height: 100%;
  background-color: var(--background);
}

.header{
  display: flex;
  background-color: var(--primary);
}

.header .header-text{
  flex: 1;
  color: var(--text);
}

.header logo{
  flex: 2;
}

.footer{
  display: flex;
  justify-content: center;
  background-color: var(--primary);
}
