body {
  height: 100vh;
  margin: 0;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Poppins';
  font-weight: 400;

  --text: #705029;
  --background: #a67a59;
  --primary: #f5e0a3;
  --secondary: #d3b078;
  --accent: #c85b51;

  background-color: var(--background);
}

h1, h2, h3{
  font-family: 'Dancing Script';
  font-weight: 700;
}

h4, h5{
  font-family: 'Poppins';
  font-weight: 400;
} 

html {font-size: 100%;}

h1 {font-size: 5.652rem;}

h2 {font-size: 3.997rem;}

h3 {font-size: 2.827rem;}

h4 {font-size: 1.999rem;}

h5 {font-size: 1.414rem;}

small {font-size: 0.707rem;}

.header{
  display: flex;
  background-color: var(--primary);
  flex: 0.2;
  color: var(--text);
}

.header h1{
  cursor: pointer;
}

.logo{
  max-width: 15em;
}

.main-content{
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  flex: 1;
}

.records-scroll{
  flex: 1;
  overflow-y: hidden;
}

.footer{
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  flex: 0.1;
}